/* Customer.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 20px 20px ;
  flex-wrap: wrap;
  gap: 15px;
}

.customer-container{
  width: 97%;
  background: #fff;
  border-radius: 16px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #ececec;
}

tbody tr:hover {
  background: #f7f9fc;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}

.modal {
  width: 100%;
  max-width: 520px;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  animation: popup .25s ease;
}


.modal h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #1f2937;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-top: 12px;
  font-size: 15px;
  outline: none;
  transition: .3s;
}

