/* Login Button & Register Link */

.login-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.login-actions button {
  width: 140px;
  height: 40px;
  background: #0f766e;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.login-actions button:hover {
  background: #115e59;
}

.register-link {
  color: #0f766e;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.register-link:hover {
  text-decoration: underline;
}

.password-toggle-icon:hover {
  cursor: pointer;
  transform: none;
  box-shadow: none;
}

.input-wrapper button {
  transform: none;
}

.password-toggle-icon {
  position: absolute;
  top: 25%;
  /* right: 14px; */
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #7b8794;
  left: 85%;
  z-index: 10;
}
@media (max-width: 1024px) {
  .login-page {
    background-image: url("../../assets/LOGINBG.png");
    background-position: center;
  }
}
@media (max-width: 768px) {
  .login-page {
    justify-content: center;
    padding: 20px;

    background-image: url("../../assets//LOGINBG.png");
    background-position: center top;
  }
}
@media (max-width: 480px) {
  .login-page {
    background-image: url("../../assets//LOGINBG.png");
    padding: 16px;
  }
}
.login-actions {
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
}

.login-actions button {
  width: 100%;
}

.register-link {
  text-align: center;
}
